.mainSection{
    height: 500px;
    width: 100%;
    background-image: url(./projectImages/headerSection.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;

}
.logo{
    position: absolute;
    margin-top: 15%;
}
.services{
    height: 300px;
    width: 100%;
    background-image: url(./projectImages/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
}
.servicesContent{
    margin-top: 10%;
}
/* .servicesContent h4, p{
color: azure;
} */