.mainSection{
    height: 500px;
    width: 100%;
    background-image: url(./projectImages/headerSection.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;

}
.logo{
    position: absolute;
    margin-top: 15%;
}
.services{
    height: 350px;
    width: 100%;
    background-image: url(./projectImages/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
}
.servicesContent{
    margin-top: 10%;
}
.contactUs{
    height: 470px;
    width: 100%;
    background-image: url(./projectImages/c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
  }
/* .servicesContent h4, p{
color: azure;
} */
.portfolioImage:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.hide {
  display: none;
}